{% extends 'base.html' %}
{% block content %}

<h1>Chocolate Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ chocolate.name }}</span>
    <p>Type: {{ chocolate.type }}</p>
    <p>Description: {{ chocolate.description|linebreaks }}</p>
    <p>Flavor: {{ chocolate.flavor }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'chocolates_update' chocolate.id %}">Edit</a>
    <a href="{% url 'chocolates_delete' chocolate.id %}">Delete</a>
  </div>
</div>

{% endblock %}